@using Newtonsoft.Json
@using Report.Application.ResponseModels
@model Report.Application.RequestModels.ClientRequestModel

@{
    ViewBag.Title = "Заметки";
    Layout = "_Layout";
}


<table class="table" xmlns="">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Tjs</th>
        <th scope="col">Usd</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.Reasons != null)
    {
        var reasons = (List<ReasonResponseModel>)ViewBag.Reasons;
        for (var i = 0; i < reasons.Count; i++)
        {
            var json = JsonConvert.SerializeObject(reasons[i], new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            });
            <tr onclick="onRecordClick('@json')">
                <th scope="row">@(i + 1)</th>
                <td>@(reasons[i].Name)</td>
                <td>@(reasons[i].CashTjs)</td>
                <td>@(reasons[i].CashUsd)</td>
            </tr>
        }
    }
    </tbody>
</table>


<div class="modal fade" id="modalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modalCenterTitle">Заметки</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <form method="post" asp-action="CreateOrUpdateReason">
                <div class="modal-body">
                    <input type="hidden" asp-for="Id"/>
                    <div class="card-body">
                        <div class="mt-2">
                            <label class="form-label">Имя</label>
                            <input type="text" class="form-control" aria-describedby="defaultFormControlHelp" asp-for="Name">
                        </div>
                        
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Сохранить Данные</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="onRecordClickNew()">
    Добавить
</button>
<script type="text/javascript" src="/js/ModalViewer.js"></script>