@model Report.Application.RequestModels.MoveRequestModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    @for (int i = 0; i < 101; i++)
    {
        <br>@i
    }
</div>