@page "/CreateAgent"
@using StudentCard.Domain

<PageTitle>Create a agent</PageTitle>

<EditForm Model="_agent" OnSubmit="SubmitAsync">
    <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <h1 class="text-white mb-4">Create a student</h1>
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <InputText @bind-Value="_agent.UserName" placeholder="Username"></InputText>
                                </div>
                            </div>

                            <hr class="mx-n3">
                            
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Password</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <InputText type="password" @bind-Value="_agent.Password" placeholder="Password"></InputText>
                                </div>
                            </div>
                            
                            <hr class="mx-n3">
                            
                            
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Role</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <InputSelect @bind-Value="_agent.Role" class="form-select">
                                        <option value="@Roles.Agent">@Roles.Agent</option>
                                        <option value="@Roles.Admin">@Roles.Admin</option>
                                    </InputSelect>
                                </div>
                            </div>
                            
                            <hr class="mx-n3">
                            
                            <div class="px-5 py-4">
                                <button type="submit" class="btn btn-primary btn-lg">Create</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</EditForm>